## <center>Applied Data Science Capstone</center>
### <center>Assigment week 3-1</center>

Get all the geographical coordinates of each postal code of Toronto Neighbourhood and merge the latitud and longitud to the dataframe

Importing libraries

In [23]:
import pandas as pd
import geocoder # import geocoder

Loading the Toronto neighbourhood dataframe and creating the dataframe with the postal codes to get the latitud and longitud

In [24]:
TorNeigh_df = pd.read_csv('E:/Study/Data Analytics/IBM Certification/Capstone Project/Toronto_Neibourhood.csv', sep=",")
postcodes_df = TorNeigh_df[['Postcode']]
print(postcodes_df.shape)
postcodes_df.head()

(103, 1)

  Postcode
0      M1B
1      M1C
2      M1E
3      M1G
4      M1H

Creating a blank latitud and longitud columns

In [25]:
postcodes_df['Latitude'] = ''
postcodes_df['Longitude'] = ''
postcodes_df.head(10)

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  Postcode Latitude Longitude
0      M1B
1      M1C
2      M1E
3      M1G
4      M1H
5      M1J
6      M1K
7      M1L
8      M1M
9      M1N

Funtion to get the latitud and longitud

In [ ]:
for index, row in postcodes_df.iterrows():
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postcodes_df['Postcode'].iloc[index]))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    postcodes_df['Latitude'].iloc[index] = latitude
    postcodes_df['Longitude'].iloc[index] = longitude
postcodes_df.head(20)

The funtion runs several time, but not finish to get the geographic coordinates, I must to restart the kernel, so I will use the csv file

Loading the file with the geographical coordinates of each postal code

In [26]:
location_url = 'http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv'
location_df = pd.read_csv(location_url,sep=",") # use sep="," for coma separation.
location_df.head(20)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849
12         M1S  43.794200 -79.262029
13         M1T  43.781638 -79.304302
14         M1V  43.815252 -79.284577
15         M1W  43.799525 -79.318389
16         M1X  43.836125 -79.205636
17         M2H  43.803762 -79.363452
18         M2J  43.778517 -79.346556
19         M2K  43.786947 -79.385975

Verifying the number of rows in the csv file that contain the geographical coordinates

In [28]:
location_df.shape

(103, 3)

Merging the dataframe with neighbourhood and geographical coordinates

In [30]:
TorNeigh_df = pd.merge(TorNeigh_df, location_df, left_on = 'Postcode', right_on = 'Postal Code', how = 'inner')
TorNeigh_df = TorNeigh_df.drop(['Postal Code'], axis = 1)
print(TorNeigh_df.shape)

(103, 5)

In [31]:
TorNeigh_df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Port Union, Rouge Hill, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [32]:
TorNeigh_df.to_csv (r'E:/Study/Data Analytics/IBM Certification/Capstone Project/Toronto_Neibourhood_Geo.csv', index = None, header=True)